.searchBar {
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
  }

.botonSearch{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-family: MS Gothic;
    text-transform: uppercase;
    padding: 5px 10px;
    margin-left: 2px;
}

